* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

div#header {
	width: 100%;
	height: 55px;
	background-color: #fff;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.logo a {
	font-size: 1.6em;
	color: #707478;
}

.logo a span {
	font-weight: 300;
}

div#container {
	width: 100%;
	margin: 0 auto;
}

.ndelik {
	display: none;
}

.sidebar {
	width: 25%;
	background:#1a2229;
	float: left;
	height: 100%;
	position: fixed!important;
	z-index: 1;
	overflow: auto;
	transition: 0.5s;

}

.sidebar ul.subm {
	display: none;
}

.sidebar .mm {
	background: #ff5b57;
	color: #fff;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#nav {
	float: left;
	width: 100%;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

#nav li {
	list-style: none;
}

#nav li a{
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom: 1px solid #444;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#nav li a:hover {
	 background: #030303;
	 color: #fff;
}

#nav li a.selected{
	background: #ff5b57;
	color: #fff;
}

#nav li ul {
	overflow: hidden;
	/*display: none; // used to hidesub-menus*/
}

.content {
	width: auto;
	margin-left: 25%;
	height: 100%;
	background: #d9e0e7;
	padding: 15px;
	transition: margin-left .5s;
}

.content p {
	color: #424242;
	font-size: 0.8em;
}

div#box {
	margin-top: 15px;
}

div#box .box-top {
	color: #fff;
	text-shadow: 0 1px #000;
	background: #2980b9;
	padding: 5px;
	padding-left: 15px;
	font-weight: 300;
}

div#box .box-panel {
	padding: 15px;
	background: #fff;
	color: #333;
}
@media only screen and (max-width: 480px) {
	a.mobile {
		display: block;
		color: #fff;
		background: #000;
		text-align: center;
		padding: 7px;
		cursor: pointer;
	}

	a.mobile:active {
		background: #474747;
	}

.sidebar {
	width: 100%;
	padding-top: 15px;
	display: none;
	height: auto;
}

.sidebar a {
	font-size: 18px;
}

.content {
	margin-left: 0;
}

}

@media only screen and (min-width: 480px) {
	.sidebar {
		min-height: 900px;
		display: block;
	}

	a.mobile {
		display: none;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.form-container {
	border: 1 px solid #f2e3d2;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width: 300px;
	padding: 20px;
	width: 75%;
}
.form-field {
	border: 1px solid #c9b7a2;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c9b7a2;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0;
	padding: 8px;
	margin-bottom: 20px;
	width: 280px;
}
.form-field:focus {
	background: #fff;
	color:#725129;
}
.form-container h2{
	text-shadow: #fdf2e4 0 1px 0;
	font-size: 18px;
	margin: 0 0 10px 0;
	font-weight: bold;
	text-align: center;
}
.font-title {
	margin-bottom: 10px;
	color: #725129;
	text-shadow: #fdf2e4 0 1px 0;
}
.submit-container {
	margin: 8px 0;
	text-align: right;

}
.submit-button{
	border: 1px solid #447314;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 2px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 2px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 2px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	color: #31540c;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-button:hover {
	border: 1px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
}
.submit-button:active {
	text-shadow: #31540c 0 1px 0;
	border: 1px solid #447314;
	background: #8dc059;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
}
.pagination {
	display: inline-block;
}
.pagination a{
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px)
}
